# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.env
.venv
env/
venv/
ENV/
*.env

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Git
.git
.gitignore

# Conda
*.conda
*.ipynb_checkpoints
*.lock
*.yml
*.yaml

# Other
build/
dist/
*.egg-info/
*.log

docker/
documentation/
example_usage/
img/
settings/
